 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  min-height: 80vh;
  background: #eee;
}
.rating span {
  margin: 0.5rem;
}
h1 {
  padding: 0.1rem;
  font-size: 1.4rem;
}
h3 {
  padding: 0.5rem;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #000;
}
/* carousel */
/* .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
} */
 
.carousel-caption {
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  width: 100%;
  height: 500px;
  padding: 30px;
  margin: 40px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
 
 
/* profile screen */
.btnUpdate {
  color: #18e618;
  border: 1px solid #18e618;
}
.confirm-root {
  margin: auto;
  background: #56f856;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.confirm-text {
  text-align: center;
  padding: 10px;
  color: #000;
}
.link-home {
  margin-top: 100px;
  text-align: center;
}
 